<div id="side-bar"
  class="flex-none md:min-w-[400px] min-h-[300px] p-4 md:p-12 hidden md:block">
  <div class="flex flex-row gap-x-8">
    <img class="max-w-[150px] rounded-full" alt="" src="https://vincentsaulys.com/profile-small.png"/>
    <div class="flex flex-col place-content-center">            
      <div class="">
        <a href="https://vincentsaulys.com/" class="flex flex-row items-center">
          <span class="mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
            </svg>                  
          </span>                
          <span>
            About Me
          </span>
        </a>
      </div>            
      <div class="">
        <a href="https://www.linkedin.com/in/vincent-alexander-saulys/" class="flex flex-row items-center">
          <span class="mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M6 3.75A2.75 2.75 0 018.75 1h2.5A2.75 2.75 0 0114 3.75v.443c.572.055 1.14.122 1.706.2C17.053 4.582 18 5.75 18 7.07v3.469c0 1.126-.694 2.191-1.83 2.54-1.952.599-4.024.921-6.17.921s-4.219-.322-6.17-.921C2.694 12.73 2 11.665 2 10.539V7.07c0-1.321.947-2.489 2.294-2.676A41.047 41.047 0 016 4.193V3.75zm6.5 0v.325a41.622 41.622 0 00-5 0V3.75c0-.69.56-1.25 1.25-1.25h2.5c.69 0 1.25.56 1.25 1.25zM10 10a1 1 0 00-1 1v.01a1 1 0 001 1h.01a1 1 0 001-1V11a1 1 0 00-1-1H10z" clip-rule="evenodd" />
            <path d="M3 15.055v-.684c.126.053.255.1.39.142 2.092.642 4.313.987 6.61.987 2.297 0 4.518-.345 6.61-.987.135-.041.264-.089.39-.142v.684c0 1.347-.985 2.53-2.363 2.686a41.454 41.454 0 01-9.274 0C3.985 17.585 3 16.402 3 15.055z" />
            </svg>                  
          </span>                
          <span>
            LinkedIn
          </span>
        </a>
      </div>            
    </div>
  </div>
  <hr class="my-8 border-2 border-gray-400"/>

  {{navigation}}

  <div class="">
    <div class="text-2xl">
      Tags
    </div>
    {{#get "tags" limit="all"}}
    <ul class="flex flex-col list-disc list-inside">
      {{#foreach tags}}
        <li>
          <a href="{{url}}">{{name}}</a>
        </li>
      {{/foreach}}
    </ul>
    {{/get}}
  </div>  

  <div class="mt-4 md:mt-32">
    <div class="text-sm text-gray-600 font-mono">
      &copy; {{date format="YYYY"}}, all rights reserved
    </div>
  </div>
  {{#if @labs.subscribers}}
  <div class="footer-subscribe">
    <h4>Subscribe to {{@site.title}}</h4>
    <p>Get the latest posts delivered right to your inbox</p>
    {{subscribe_form placeholder="youremail@example.com"}}
  </div>
  {{/if}}  
</div>
<div id="mobile-menu-button" class="py-4 md:hidden">
  <div class="rounded h-full w-full flex place-items-center justify-center cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
    <path fill-rule="evenodd" d="M2 3.75A.75.75 0 012.75 3h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 3.75zm0 4.167a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75zm0 4.166a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75zm0 4.167a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
    </svg>
  </div>
</div>